@font-face {
    font-family: Jost;
    src: url(Jost.ttf);
}

html, body {
    width: 100%;
    height: 100%;
	overflow: hidden;
	user-select: none;
    padding: 0;
    margin: 0;
    background-color: black;
}

canvas {
    outline: none;
}

.undertable {
    transform-origin: 0 0;
    border-collapse: collapse;
}
.name {
    border-right: 1px solid black;
}
.undertable td {
    border-top: 1px solid black;
}

#debug {
    font-size: 2rem;
    color: black;
    background-color: #fff8;
    margin: 0;
    font-family: Jost, monospace;
    font-size: 100%;
}

#crosshair {
    z-index: 4;
    position: fixed;
    width: 0;
    height: 0;
}

.row {
    width: 100%;
    line-height: 1em;
}
.row > div {
    display: inline-block;
    font-family: Jost, monospace;
    width: 40%;
}
.row img {
    width: 100%;
}

#left-sidebar, #right-sidebar {
    background-color: #88a5;
    position: fixed;
    z-index: 8;
}

#loading-cover, #question-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    font-family: Jost, sans-serif;
}
#loading-cover {
    background-color: rebeccapurple;
    padding-top: calc(50vh - 1rem);
    z-index: 16
}
#question-overlay {
    background-color: lightgray;
    z-index: 10;
    display: none;
}
.qimg {
    border: 4px solid black;
    width: 100px;
}
#popup-text {
    font-family: Jost, sans-serif;
    width: 80vw;
    height: 20vh;
    background-color: white;
    border: 4px solid black;
    outline: 1px solid white;
    font-size: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: none;
}
